page-seguridad {
    .fondo{
        background-color: #2F3952;
        background-position: left;
        background-size: auto;
    }
    .toolbar-background{
        // position: relative;
        //background: url('../assets/imgs/IMG-20181008-WA0037.jpg') no-repeat transparent;
        background-size: 80px;
        background-position: center;
        background-color: #2F3952;
    }
    .titulo{
        text-align: center;
        vertical-align: top;
        color: white;

    }
   
    .myButton {
        background-color:#fa0000;
        -moz-border-radius:42px;
        -webkit-border-radius:42px;
        border-radius:42px;
        border:12px solid #fa0505;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Verdana;
        font-size:17px;
        font-weight:bold;
        padding:25px 6px;
        text-decoration:none;
        text-shadow:0px -7px 0px #fa0505;

        position: relative;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-bottom: 50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
    }
    .myButton:hover {
        background-color:#fa0000;
    }
    .myButton:active {
        position:relative;
        top:49%;
    }
   
    
}
