page-tabs {
    .fondo{
        background-color: #2F3952;
        background-position: left;
        background-size: auto;
    }

    // ion-icon {
    //     &[class*="custom-"] {
    //       mask-size: contain;
    //       mask-position: 50% 50%;
    //       mask-repeat: no-repeat;
    //       background: #f4f4f4;
    //       width: 100px;
    //       height: 20px;
          
    //     }
      
    //     &[class*="custom-mobile"] {
    //       mask-image: url(../assets/imgs/iconosSVG/beneficios.svg);
         
    //     }
    //   }
}
