<ion-header>
  <ion-navbar>
    <ion-title>Safit - Home</ion-title>
    <button ion-button icon-only menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">
  <h1>Bienvenido Sr(a). {{nombre}}</h1>


  <div *ngIf="admin"> este es div de admin ve todo</div>
  <div *ngIf="admin || residente">No posee nuevas notificaciones</div>
  <div *ngIf="admin || conserje"> este div es de conserje y lo puede ver solo el conserje y admin</div>
</ion-content>