page-home {
    .fondo{
        background-color: #2F3952;
        background-position: left;
        background-size: auto;
        color: white;
    }

    .toolbar-background{
        // position: relative;
        //background: url('../assets/imgs/IMG-20181008-WA0037.jpg') no-repeat transparent;
        background-size: 80px;
        background-position: center;
        background-color: #2F3952;
        
        
        
    }

    .titulo{
        text-align: center;
        vertical-align: top;
        color: white;

    }


    
}
